# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# If using Django's collectstatic
/static/

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# PyCharm / VS Code / other IDEs
.idea/
.vscode/
*.swp

# macOS/Linux
.DS_Store
*.swo

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# dotenv
*.env
.env.*

# Build artifacts
build/
dist/
*.egg-info/
*.egg

# Pipenv / Poetry
Pipfile.lock
poetry.lock

# Node.js modules (React, frontend dependencies)
node_modules/
npm-debug.log
yarn-error.log

# TailwindCSS / PostCSS config (si usas TailwindCSS)
tailwind.config.js
postcss.config.js

# Webpack / Parcel / Next.js cache (si usas estas herramientas)
.webpack/
.parcel-cache/
.next/

# Docker (si usas Docker)
.docker/

# SQLite3 database files
*.sqlite3
